.*/*
!.github/*
!.vscode/settings.json
!.devcontainer/devcontainer.json

.idea
**/Cargo.lock
**/target/

*.img
*.diff
*.a
*.log
*.ans

os/src/link_app.S
os/src/linker.ld
os/last-*
os/Cargo.lock
os/.gdb_history
user/build
user/target/*
user/.idea/*
user/Cargo.lock
easy-fs/Cargo.lock
easy-fs/target/*
easy-fs-fuse/Cargo.lock
easy-fs-fuse/target/*
tools/
pushall.sh
**/CMakeFiles/
**/CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

lwext4_rust/c/lwext4/compile_commands.json
lwext4_rust/c/lwext4/CPackConfig.cmake
lwext4_rust/c/lwext4/CPackSourceConfig.cmake
lwext4_rust/c/lwext4/blockdev/cmake_install.cmake
lwext4_rust/c_old/lwext4/include/generated/ext4_config.h


*.dtb
*.dts
*.bin
# Added by cargo

/target